* {
	margin: 0;
	padding:0;
	border: none;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #858585;
	text-align: center;
}

h1 {
	color: #1ef3ed;
	font-size: 55px;
    font-weight: 300;
    text-transform: uppercase;
    word-break: break-all;
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
    width: 50%;
}

a {
	color: #FFF;
	text-decoration: none;
	font-size: 11px;
	line-height: 30px;
	display: block;
	margin: 10px auto 0 auto;
	text-transform: uppercase;
}
a:hover {
	color: #1ef3ed;
}

.Aligner {
	display: flex;
	align-items: center;
	min-height: 90vh;
	justify-content: center;
}
.Aligner-item {
	border: 1px solid #0abab5;
	border-radius: 6px;
	max-width: 50%;
	padding: 80px 10px;
}
